@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.cyberpunk {
  --bg: #0D0D1A;
  --text: #FF6EC7;
  --border: #FF6EC7;
}

.cyberpunkfordays {
  --bg: #0D0D1A; 
  --text: #0FF;
  --border : #00FFFF;
  
}

.normal {
  --bg: #ffffff;
  --text: #1f1f1f;
  --border: #ccc;
}